.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #495057;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 24px;
  padding: 0px 0;
  margin-top: 80px;
  width: 100%;
  box-sizing: border-box;
}

.github-link {
  color: #495057;
  text-decoration: none;
  font-weight: 400;
}

.github-link:hover, .github-link:active {
  text-decoration: none;
}
